@font-face {
    font-family: 'loopyregular';
    src: url('fonts/loopy___.woff2') format('woff2'),
         url('fonts/loopy___.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  background: #000;
}

#clock {
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: loopyregular;
    font-size: 200px;
    color: #8a151d;
}
